/*margina diva istorija*/

.istorija {
    margin-left: 5%;
    margin-right: 5%;
}


/*pozadina h2 naslova diva istorija*/

.istorija h2 {
    background-color: gray;
}


/*sve boldovane rijeci */

b {
    color: red;
    text-decoration-line: underline;
}


/*sav css ispod je kopiran sa vikipedijine stranice za keyword audi*/

element.style {}

.mw-body-content p {
    margin: 0.5em 0;
}

p {
    margin: 0.4em 0 0.5em 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mw-content-ltr {
    direction: ltr;
}

.mw-body-content {
    font-size: 0.875em;
    font-size: calc(1em * 0.875);
    line-height: 1.6;
}

.mw-body,
.parsoid-body {
    background-color: #ffffff;
    color: #202122;
    direction: ltr;
    padding: 1em;
}

html,
body {
    font-family: sans-serif;
}

html {
    font-size: 100%;
}